body{
font-family: 'Philosopher', sans-serif; 
  }
h1,h2,h3,h4,h5,h6{
padding:0;
margin:0;
}
a:hover{
text-decoration:none;
}
ul{
padding:0;
margin:0;
list-style:none;
}
p{
padding:0;
margin:0;
}
.space_left{
padding-left:0; 
} 
.space_right{
padding-right:0; 
} 
.space_all{
padding:0; 
} 
.border_none_1{
border:none;
 }

#about_main{ 
 background-color:#ffffff;
 background-repeat: no-repeat;
 background-size: cover;
 }
.about_inner{ 
 padding-top:100px;
 padding-bottom:100px;
 background-color: #00000000;
 }
.about_main_1{ 
 text-align:center;
 }
.about_main_1 h2{ 
 color:#000000;
 font-size:35px;
 padding-bottom:20px;
 }
.about_main_1 p{ 
 color:#000000;
 font-size:20px;
 padding-bottom:35px;
 }
.about_main_2{ 
 text-align:center;
 }
.about_main_2 h2{ 
 font-size:80px;
 color:#000000;
 padding-bottom:10px;
 font-weight:bold;
 }
.about_main_2 h3{ 
 font-size:30px;
 color:#000000;
 padding-bottom:10px;
 font-weight:bold;
 }
.about_main_2 p{ 
 font-size:20px;
 color:#000000;
 line-height:33px;
 }

@media screen and (max-width : 767px){
#about {
 padding-top: 30px;
 padding-bottom: 30px;
 text-align: center;
}
.about_inner {
 padding-top: 30px;
 padding-bottom: 30px;
}
}
 
@media (min-width:768px) and (max-width:960px) { 
#about {
 padding-top: 30px;
 padding-bottom: 20px;
}
.about_inner {
 padding-top: 40px;
 padding-bottom: 40px;
}
} 

 
@media (min-width:961px) and (max-width:1200px) {
#about {
 padding-top: 30px;
 padding-bottom: 20px;
}
.about_inner {
 padding-top: 40px;
 padding-bottom: 40px;
}
}

@media (min-width:1201px) and (max-width:1320px) {

}